[defaults]
inventory = ./inventory/staging
roles_path = ./roles
# Associe un label d'environnement à chaque fichier de clé
vault_identity_list = staging@inventory/staging/group_vars/vault.yml, prod@inventory/prod/group_vars/vault.yml